<section class="content">
    <div class="container-fluid">
      <div class="card">
        <p-toolbar styleClass="p-mb-4">
          <ng-template pTemplate="left">
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger p-button-sm"
                    (click)="deleteSelectedItems()" pTooltip="Eliminar Seleccionados" tooltipPosition="right"
                    [disabled]="!selectedControlPer || !selectedControlPer.length"></button>
          </ng-template>
  
          <ng-template pTemplate="right">
            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-sm p-button-outlined p-button-success p-mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-sm p-button-outlined p-button-danger p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
  
          </ng-template>
        </p-toolbar>
  
  
        <p-table #dt [value]="lstControlPer" [rows]="10" [paginator]="true" [loading]="loading"
                 [globalFilterFields]="['idControlPeriodo',
                 'nombreControlPeriodo',
                 'fechaiControlPeriodo',
                 'fechafControlPeriodo',
                 'vigenteControlPeriodo',
                 'activoControlPeriodo',
                 'idCarreraControlPeriodo',
                 'idFacultadControlPeriodo',
                 'idPeriodoDTO',]"
                 responsiveLayout="stack"
                 [(selection)]="selectedControlPer" [rowHover]="true" dataKey="idControlPeriodo"
                 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                 [showCurrentPageReport]="true">
          <ng-template pTemplate="caption">
            <div class="d-flex justify-content-between flex-wrap">
              <button pButton label="Clear" class="p-button-outlined p-button-sm" icon="pi pi-filter-slash" (click)="clear(dt)" pTooltip="Quitar Filtros" tooltipPosition="right"></button>
              <label class="text-center">LISTADO CONTROLES DE PERIODO</label>
              <span class="p-input-icon-left p-ml-auto">
                      <i class="pi pi-search"></i>
                      <input pInputText type="text" class="p-inputtext-sm" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Busqueda General" />
                  </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="nombreControlPeriodo">Nombre
                <p-sortIcon field="nombreControlPeriodo"></p-sortIcon>
              </th>
              <th pSortableColumn="fechaiControlPeriodo">Descripción
                <p-sortIcon field="fechaiControlPeriodo"></p-sortIcon>
              </th>
              <th pSortableColumn="fechafControlPeriodo">Descripción
                <p-sortIcon field="fechafControlPeriodo"></p-sortIcon>
              </th>
              <th pSortableColumn="vigenteControlPeriodo">Descripción
                <p-sortIcon field="vigenteControlPeriodo"></p-sortIcon>
              </th>
              <th pSortableColumn="activoControlPeriodo">Activo
                <p-sortIcon field="activoControlPeriodo"></p-sortIcon>
              </th>
              <th>Opciones</th>
            </tr>
            <tr>
              <th></th>
              <th>
                <p-columnFilter type="text" field="nombreControlPeriodo"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="fechaiControlPeriodo"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="fechafControlPeriodo"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="vigenteControlPeriodo"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="activoControlPeriodo"></p-columnFilter>
              </th>

              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              <td>
                <p-tableCheckbox [value]="item"></p-tableCheckbox>
              </td>
              <td>{{item.nombreControlPeriodo}}</td>
              <td>{{item.fechaiControlPeriodo | date : 'short'}}</td>
              <td>{{item.fechafControlPeriodo | date : 'short'}}</td>
              <td>{{item.vigenteControlPeriodo}}</td>
              <td>{{item.activoControlPeriodo ? 'ACTIVO' : 'INACTIVO'}}</td>

              <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning p-button-text p-button-sm p-mr-2"
                        (click)="editItem(item)" pTooltip="Editar" tooltipPosition="left"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text p-button-sm"
                        (click)="deleteItem(item)" pTooltip="Eliminar" tooltipPosition="left"></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
              En Total Existen {{lstControlPer ? lstControlPer.length : 0 }} Control Periodo.
            </div>
          </ng-template>
        </p-table>
      </div>
    </div>
  </section>
  
  
  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  