<section class="content">
    <div class="container-fluid">
      <div class="card">
        <p-table #dt [value]="lstSubTipoMt" [rows]="10" [paginator]="true" [loading]="loading"
                 [globalFilterFields]="['idSubTipoModalidadTitulacion',
                 'nombreSubTipoModalidadTitulacion',
                 'codigoSubTipoModalidadTitulacion',
                 'observacionSubTipoModalidadTitulacion',
                 'activoSubTipoModalidadTitulacion',
                 'codigoSubTipoModalidadTitulacionDTO.nombreSubTipoModalidadTitulacion',]"
                 responsiveLayout="stack"
                 [(selection)]="selectedSubTipoMt" [rowHover]="true" dataKey="idSubTipoModalidadTitulacion"
                 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                 [showCurrentPageReport]="true">
          <ng-template pTemplate="caption">
            <div class="d-flex justify-content-between flex-wrap">
                <div>
                    <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-sm p-button-outlined p-button-success p-mr-2 m-1"  pTooltip="XLS" tooltipPosition="bottom"></button>
                    <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-sm p-button-outlined p-button-danger p-mr-2 m-1" pTooltip="PDF" tooltipPosition="bottom"></button>
                    <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger p-button-sm m-1"
                            (click)="deleteSelectedItems()" pTooltip="Eliminar Seleccionados" tooltipPosition="right"
                            [disabled]="!selectedSubTipoMt || !selectedSubTipoMt.length"></button>
                    <button pButton label="Clear" class="p-button-outlined p-button-sm m-1" icon="pi pi-filter-slash" (click)="clear(dt)" pTooltip="Quitar Filtros" tooltipPosition="right"></button>
                </div>

              <label class="text-center">LISTADO SUBTIPO MODALIDAD TITULACION</label>
              <span class="p-input-icon-left p-ml-auto">
                      <i class="pi pi-search"></i>
                      <input pInputText type="text" class="p-inputtext-sm" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Busqueda General" />
                  </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="codigoSubTipoModalidadTitulacion">Código
                <p-sortIcon field="codigoSubTipoModalidadTitulacion"></p-sortIcon>
              </th>
              <th pSortableColumn="nombreSubTipoModalidadTitulacion">Nombre
                <p-sortIcon field="nombreSubTipoModalidadTitulacion"></p-sortIcon>
              </th>
              <th pSortableColumn="observacionSubTipoModalidadTitulacion">Observación
                <p-sortIcon field="observacionSubTipoModalidadTitulacion"></p-sortIcon>
              </th>
              <th pSortableColumn="activoSubTipoModalidadTitulacion">Activo
                <p-sortIcon field="activoSubTipoModalidadTitulacion"></p-sortIcon>
              </th>
              <th pSortableColumn="idTipoModalidadTitulacionDTO.nombreTipoModalidadTitulacion">Tipo Modalidad
                <p-sortIcon field="idTipoModalidadTitulacionDTO.nombreTipoModalidadTitulacion"></p-sortIcon>
              </th>
              <th>Opciones</th>
            </tr>
            <tr>
              <th></th>
              <th>
                <p-columnFilter type="text" field="codigoSubTipoModalidadTitulacion"></p-columnFilter>
              </th>
                <th>
                <p-columnFilter type="text" field="nombreSubTipoModalidadTitulacion"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="observacionSubTipoModalidadTitulacion"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="activoSubTipoModalidadTitulacion"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="idTipoModalidadTitulacionDTO.nombreTipoModalidadTitulacion"></p-columnFilter>
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              <td>
                <p-tableCheckbox [value]="item"></p-tableCheckbox>
              </td>
              <td>{{item.codigoSubTipoModalidadTitulacion}}</td>
              <td>{{item.nombreSubTipoModalidadTitulacion}}</td>
              <td>{{item.observacionSubTipoModalidadTitulacion}}</td>
              <td>{{item.activoSubTipoModalidadTitulacion ? 'ACTIVO' : 'INACTIVO'}}</td>
              <td>{{item.idTipoModalidadTitulacionDTO.nombreTipoModalidadTitulacion}}</td>
              <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning p-button-text p-button-sm p-mr-2"
                        (click)="editItem(item)" pTooltip="Editar" tooltipPosition="left"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text p-button-sm"
                        (click)="deleteItem(item)" pTooltip="Eliminar" tooltipPosition="left"></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
              En Total Existen {{lstSubTipoMt ? lstSubTipoMt.length : 0 }} SubTipo Modalidad Titulacion.
            </div>
          </ng-template>
        </p-table>
      </div>
    </div>
  </section>
  
  
  <!--p-confirmDialog [style]="{width: '450px'}"></!--p-confirmDialog-->
  