<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Modalidad</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<div class="grid grid-nogutter surface-0 text-800 position-relative">
    <div class="ribbon-wrapper ribbon-lg">
        <div class="ribbon bg-danger text-md">
            PRUEBA
        </div>
    </div>
    <div class="col-12 md:col-12 p-6 text-center md:text-left align-items-center ">
        <section>
            <div class="text-6xl text-primary font-bold mb-3">Modalidad
                <p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '450px'}">
                    <ng-template pTemplate>
                        <video width="100%" height="auto" autoplay controls>
                            <source src="assets/video/estadoplan.webm" type="video/mp4">
                        </video>
                    </ng-template>
                </p-overlayPanel>

                <button (click)="op.toggle($event)" pButton pRipple type="button" icon="pi pi-video"
                    class="p-button-rounded p-button-secondary p-button-text">
                </button>
            </div>
            <p class="mt-0 mb-4 text-700 line-height-3">El proceso de titulación representa la fase de culminación de los estudios 
                que le permite al estudiante normalista obtener el título profesional para ejercer su actividad profesional.</p>

            <form [formGroup]="form" enctype="multipart/form-data" accept-charset="utf8">
                <p-panel header="Registro" [toggleable]="false">
                    <ng-template pTemplate="icons"
                        pStyleClass="display: flex; justify-content: end; align-items: center;">
                        <button pButton pRipple type="button" icon="pi pi-send" (click)="guardar()" pTooltip="Guardar"
                            tooltipPosition="top"
                            class="p-button-rounded p-button-success p-button-text p-button"></button>
                        <button pButton pRipple type="button" icon="pi pi-times" (click)="cancelar()"
                            pTooltip="Cancelar" tooltipPosition="top"
                            class="p-button-rounded p-button-danger p-button-text p-button"></button>

                    </ng-template>
                    <div class="p-fluid p-formgrid grid">
                        <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3">
                            <span class="p-float-label">
                                <input pInputText id="ftxt-codigo" type="text" required="true"
                                    formControlName="codigoModalidad">
                                <label for="ftxt-codigo">* Codigo</label>
                            </span>
                        </div>
                        <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3">
                            <span class="p-float-label">
                                <input pInputText id="ftxt-nombre" type="text" required="true"
                                    formControlName="nombreModalidad">
                                <label for="ftxt-nombre">* Nombre</label>
                            </span>
                        </div>
                        <div class="p-field col-12 md:col-4 md:mb-4 mb-0 px-3 flex justify-content-evenly">
                            <label for="ftxt-activo">* Activo </label>
                            <p-inputSwitch id="ftxt-activo" formControlName="activoModalidad"></p-inputSwitch>
                        </div>
                        <div class="p-field col-12 md:col-8 md:mb-4 mb-0 px-3">
                            <span class="p-float-label">
                                <input pInputText id="ftxt-descripcion" type="text" required="true"
                                    formControlName="descripcionModalidad">
                                <label for="ftxt-descripcion">* Descripción</label>
                            </span>
                        </div>
                    </div>
                </p-panel>
            </form>
        </section>
    </div>
</div>

<p-divider></p-divider>

<app-modalidadtable [lstModalidad]="lstModalidad | async" (modalidadSelect)=setSeleccionado($event)>
</app-modalidadtable>