<section class="content">
    <div class="container-fluid">
      <div class="card">
        <p-toolbar styleClass="p-mb-4">
          <ng-template pTemplate="left">
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger p-button-sm"
                    (click)="deleteSelectedItems()" pTooltip="Eliminar Seleccionados" tooltipPosition="right"
                    [disabled]="!selectedPeriodo || !selectedPeriodo.length"></button>
          </ng-template>
  
          <ng-template pTemplate="right">
            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-sm p-button-outlined p-button-success p-mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-sm p-button-outlined p-button-danger p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
  
          </ng-template>
        </p-toolbar>
  
  
        <p-table #dt [value]="lstPeriodo" [rows]="10" [paginator]="true" [loading]="loading"
                 [globalFilterFields]="['idPeriodo',
                 'codigoPeriodo',
                 'codigoNumeroPeriodo',
                 'codigoTextoPeriodo',
                 'descripcionPeriodo',
                 'fechaInicioPeriodo',
                 'fechaFinPeriodo',
                 'fechaRegistroPeriodo',
                 'fechaActualizaPeriodo',
                 'activoPeriodo',
                 'idDuracionPeriodoDTO.nombreDuracionPeriodo',
                 'idEstadoPeriodoDTO.nombreEstadoPeriodo',
                 'idModalidad2DTO.nombreModalidadp',
                 'idTipoPeriodoDTO.nombreTipoPeriodo',]"
                 responsiveLayout="stack"
                 [(selection)]="selectedPeriodo" [rowHover]="true" dataKey="idPeriodo"
                 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                 [showCurrentPageReport]="true">
          <ng-template pTemplate="caption">
            <div class="d-flex justify-content-between flex-wrap">
              <button pButton label="Clear" class="p-button-outlined p-button-sm" icon="pi pi-filter-slash" (click)="clear(dt)" pTooltip="Quitar Filtros" tooltipPosition="right"></button>
              <label class="text-center">LISTADO PERIODO</label>
              <span class="p-input-icon-left p-ml-auto">
                      <i class="pi pi-search"></i>
                      <input pInputText type="text" class="p-inputtext-sm" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Busqueda General" />
                  </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="codigoPeriodo">Código
                <p-sortIcon field="codigoPeriodo"></p-sortIcon>
              </th>
              <th pSortableColumn="codigoNumeroPeriodo"> Código Numero
                <p-sortIcon field="codigoNumeroPeriodo"></p-sortIcon>
              </th>
              <th pSortableColumn="codigoTextoPeriodo">Código Texto
                <p-sortIcon field="codigoTextoPeriodo"></p-sortIcon>
              </th>
              <th pSortableColumn="activoPeriodo">Activo
                <p-sortIcon field="activoPeriodo"></p-sortIcon>
              </th>
              <th pSortableColumn="descripcionPeriodo">Descrición
                <p-sortIcon field="descripcionPeriodo"></p-sortIcon>
              </th>
              <th pSortableColumn="fechaInicioPeriodo">F. Inicio
                <p-sortIcon field="fechaInicioPeriodo"></p-sortIcon>
              </th>
              <th pSortableColumn="fechaFinPeriodo">F. Fin
                <p-sortIcon field="fechaFinPeriodo"></p-sortIcon>
              </th>
              <th pSortableColumn="idDuracionPeriodoDTO.nombreDuracionPeriodo">Duracion <br> Periodo
                <p-sortIcon field="idDuracionPeriodoDTO.nombreDuracionPeriodo"></p-sortIcon>
              </th>
              <th pSortableColumn="idEstadoPeriodoDTO.nombreEstadoPeriodo">Estado <br> Periodo
                <p-sortIcon field="idEstadoPeriodoDTO.nombreEstadoPeriodo"></p-sortIcon>
              </th>
              <th pSortableColumn="idModalidad2DTO.nombreModalidadp">Modalidad <br> Periodo
                <p-sortIcon field="idModalidad2DTO.nombreModalidadp"></p-sortIcon>
              </th>
              <th pSortableColumn="idTipoPeriodoDTO.nombreTipoPeriodo">Tipo <br> Periodo
                <p-sortIcon field="idTipoPeriodoDTO.nombreTipoPeriodo"></p-sortIcon>
              </th>
              <th>Opciones</th>
            </tr>
            <tr>
              <th></th>
              <th>
                <p-columnFilter type="text" field="codigoPeriodo"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="codigoNumeroPeriodo"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="codigoTextoPeriodo"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="activoPeriodo"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="descripcionPeriodo"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="fechaInicioPeriodo"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="fechaFinPeriodo"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="idDuracionPeriodoDTO.nombreDuracionPeriodo"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="idEstadoPeriodoDTO.nombreEstadoPeriodo"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="idModalidad2DTO.nombreModalidadp"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="idTipoPeriodoDTO.nombreTipoPeriodo"></p-columnFilter>
              </th>

              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              <td>
                <p-tableCheckbox [value]="item"></p-tableCheckbox>
              </td>
              <td>{{item.codigoPeriodo}}</td>
              <td>{{item.codigoNumeroPeriodo}}</td>
              <td>{{item.codigoTextoPeriodo}}</td>
              <td>{{item.activoPeriodo ? 'ACTIVO' : 'INACTIVO'}}</td>
              <td>{{item.descripcionPeriodo}}</td>
              <td>{{item.fechaInicioPeriodo | date : 'short'}}</td>
              <td>{{item.fechaFinPeriodo | date : 'short'}}</td>
              <td>{{item.idDuracionPeriodoDTO.nombreDuracionPeriodo}}</td>
              <td>{{item.idEstadoPeriodoDTO.nombreEstadoPeriodo}}</td>
              <td>{{item.idModalidad2DTO.nombreModalidadp}}</td>
              <td>{{item.idTipoPeriodoDTO.nombreTipoPeriodo}}</td>

              <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning p-button-text p-button-sm p-mr-2"
                        (click)="editItem(item)" pTooltip="Editar" tooltipPosition="left"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text p-button-sm"
                        (click)="deleteItem(item)" pTooltip="Eliminar" tooltipPosition="left"></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
              En Total Existen {{lstPeriodo ? lstPeriodo.length : 0 }} Periodo.
            </div>
          </ng-template>
        </p-table>
      </div>
    </div>
  </section>
  
  
  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  