// .p-fieldset .p-fieldset-legend {
//     background: #4256ef;
// }
// .p-fieldset .p-fieldset-legend {
//     padding: 1.25rem;
//     border: 1px solid #dee2e6;
//     color: #343a40;
//     background: #f8f9fa;
//     font-weight: 700;
//     border-radius: 6px;
// }
.spinner{
    position: fixed;
    left: 50%;
    top: 35%;
    z-index: 1000;
    height: 31px;
    width: 31px;
}

// p-fieldset{
//     padding: 1rem;
//     color: #ffffff;
//     border-radius: 4px;
//     transition: none;
//     background-color: #1e4064;
// }