<section class="content">
  <div class="container-fluid">
    <div class="card">
      <p-table #dt [value]="lstPrerrequisito" [rows]="10" [paginator]="true" [loading]="loading"
               [globalFilterFields]="['idPpestudios',
               'nombrePpestudios',
               'descripcionPpestudios',
               'idTipoPpeDTO.nombreTipoPpe',
               'idCodigoCumplimientoprDTO.nombreCodigoCumplimientopr',
               'cumpleMateria',
               'activoMateriaPpestudios']"
               responsiveLayout="scroll"
               [(selection)]="selectedPrerrequisito" [rowHover]="true" dataKey="idPpestudios"
               currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
               [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
          <div class="d-flex justify-content-between flex-wrap">
            <div>
              <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-sm p-button-outlined p-button-success p-mr-2 m-1"  pTooltip="XLS" tooltipPosition="bottom"></button>
              <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-sm p-button-outlined p-button-danger p-mr-2 m-1" pTooltip="PDF" tooltipPosition="bottom"></button>
              <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger p-button-sm m-1"
                      (click)="deleteSelectedPrerrequisito()" pTooltip="Eliminar Seleccionados" tooltipPosition="right"
                      [disabled]="!selectedPrerrequisito || !selectedPrerrequisito.length"></button>
              <button pButton label="Clear" class="p-button-outlined p-button-sm m-1" icon="pi pi-filter-slash" (click)="clear(dt)" pTooltip="Quitar Filtros" tooltipPosition="right"></button>
            </div>

            <label class="text-center">LISTADO DE PRERREQUISITOS</label>
            <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" class="p-inputtext-sm" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Busqueda General" />
                </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="idPpestudios">
              <div class="flex justify-content-between align-items-center">#
                <p-sortIcon field="idPpestudios"></p-sortIcon>
                <p-columnFilter type="text" field="idPpestudios" display="menu"></p-columnFilter>
              </div>
            </th>
            <th pSortableColumn="nombrePpestudios">
              <div class="flex justify-content-between align-items-center">Requisito
                <p-sortIcon field="nombrePpestudios"></p-sortIcon>
                <p-columnFilter type="text" field="nombrePpestudios" display="menu"></p-columnFilter>
              </div>
            </th>
            <th pSortableColumn="descripcionPpestudios">
              <div class="flex justify-content-between align-items-center">Observación
                <p-sortIcon field="descripcionPpestudios"></p-sortIcon>
                <p-columnFilter type="text" field="descripcionPpestudios" display="menu"></p-columnFilter>
              </div>
            </th>
            <th pSortableColumn="pathCorrequisito">
              <div class="flex justify-content-between align-items-center">Archivo
                <p-sortIcon field="pathCorrequisito"></p-sortIcon>
                <p-columnFilter type="text" field="pathCorrequisito" display="menu"></p-columnFilter>
              </div>
            </th>
            <th pSortableColumn="idTipoPpeDTO.nombreTipoPpe">
              <div class="flex justify-content-between align-items-center">Tipo
                <p-sortIcon field="idTipoPpeDTO.nombreTipoPpe"></p-sortIcon>
                <p-columnFilter type="text" field="idTipoPpeDTO.nombreTipoPpe" display="menu"></p-columnFilter>
              </div>
            </th>
            <th pSortableColumn="idCodigoCumplimientoprDTO.nombreCodigoCumplimientopr">
              <div class="flex justify-content-between align-items-center">Cumplimiento
                <p-sortIcon field="idCodigoCumplimientoprDTO.nombreCodigoCumplimientopr"></p-sortIcon>
                <p-columnFilter type="text" field="idCodigoCumplimientoprDTO.nombreCodigoCumplimientopr" display="menu"></p-columnFilter>
              </div>
            </th>
            <th pSortableColumn="cumpleMateria">
              <div class="flex justify-content-between align-items-center">Cumple
                <p-sortIcon field="cumpleMateria"></p-sortIcon>
                <p-columnFilter type="text" field="cumpleMateria" display="menu"></p-columnFilter>
              </div>
            </th>
            <th pSortableColumn="activoMateriaPpestudios">
              <div class="flex justify-content-between align-items-center">Activo
                <p-sortIcon field="activoMateriaPpestudios"></p-sortIcon>
                <p-columnFilter type="text" field="activoMateriaPpestudios" display="menu"></p-columnFilter>
              </div>
            </th>
            <th>Opciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>
              <p-tableCheckbox [value]="item"></p-tableCheckbox>
            </td>
            <td>{{item.idPpestudios}}</td>
            <td>{{item.nombrePpestudios}}</td>
            <td>{{item.descripcionPpestudios}}</td>
            <td>'NO PATH YET'</td>
            <td>{{item.idTipoPpeDTO.nombreTipoPpe}}</td>
            <td>{{item.idCodigoCumplimientoprDTO.nombreCodigoCumplimientopr}}</td>
            <td>{{item.cumpleMateria ? 'CUMPLE':'NO CUMPLE'}}</td>
            <td>{{item.activoMateriaPpestudios ? 'ACTIVO':'INACTIVO'}}</td>
            <td>
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning p-button-text p-button-sm p-mr-2"
                      (click)="editPrerrequisito(item)" pTooltip="Editar" tooltipPosition="left"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text p-button-sm"
                      (click)="deletePrerrequisito(item)" pTooltip="Eliminar" tooltipPosition="left"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            En total existen {{lstPrerrequisito ? lstPrerrequisito.length : 0 }} Componentes.
          </div>
        </ng-template>
      </p-table>
    </div>
  </div>
</section>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
