<section class="content">
  <div class="container-fluid">
    <div class="card">
      <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
          <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger p-button-sm"
                  (click)="deleteSelectedItems()" pTooltip="Eliminar Seleccionados" tooltipPosition="right"
                  [disabled]="!selectedFacultad || !selectedFacultad.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
          <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-sm p-button-outlined p-button-success p-mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
          <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-sm p-button-outlined p-button-danger p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>

        </ng-template>
      </p-toolbar>


      <p-table #dt [value]="lstFacultad" [rows]="10" [paginator]="true" [loading]="loading"
               [globalFilterFields]="['idFacultad',
               'codigoFacultad',
               'nombreFacultad',
               'descripcionFacultad',
               'resolucionFacultad',
               'fechacreaFacultad',
               'fechaactFacultad',
               'fechacierreFacultad',
               'fecharegistroFacultad',
               'activoFacultad',
               'idCampusDTO.nombreCampus',
               'idEstadoFacultadDTO.nombreEstadoFacultad']"
               responsiveLayout="scroll"
               [(selection)]="selectedFacultad" [rowHover]="true" dataKey="idFacultad"
               currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
               [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
          <div class="d-flex justify-content-between flex-wrap">
            <button pButton label="Clear" class="p-button-outlined p-button-sm" icon="pi pi-filter-slash" (click)="clear(dt)" pTooltip="Quitar Filtros" tooltipPosition="right"></button>
            <label class="text-center">LISTADO DE FACULTADES</label>
            <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" class="p-inputtext-sm" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Busqueda General" />
                </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="codigoFacultad">Código
              <p-sortIcon field="codigoFacultad"></p-sortIcon>
            </th>
            <th pSortableColumn="nombreFacultad">Nombre
              <p-sortIcon field="nombreFacultad"></p-sortIcon>
            </th>
            <th pSortableColumn="descripcionFacultad">Descripción
              <p-sortIcon field="descripcionFacultad"></p-sortIcon>
            </th>
            <th pSortableColumn="resolucionFacultad">Resolución
              <p-sortIcon field="resolucionFacultad"></p-sortIcon>
            </th>
            <th pSortableColumn="fechacreaFacultad">F. Creación
              <p-sortIcon field="fechacreaFacultad"></p-sortIcon>
            </th>
            <th pSortableColumn="fechaactFacultad">F. Actualización
              <p-sortIcon field="fechaactFacultad"></p-sortIcon>
            </th>
            <th pSortableColumn="fechacierreFacultad">F. Cierre
              <p-sortIcon field="fechacierreFacultad"></p-sortIcon>
            </th>
            <th pSortableColumn="fecharegistroFacultad">F. Registro
              <p-sortIcon field="fecharegistroFacultad"></p-sortIcon>
            </th>
            <th pSortableColumn="activoFacultad">Activo
              <p-sortIcon field="activoFacultad"></p-sortIcon>
            </th>
            <th pSortableColumn="idCampusDTO.nombreCampus">Campus
              <p-sortIcon field="idCampusDTO.nombreCampus"></p-sortIcon>
            </th>
            <th pSortableColumn="idEstadoFacultadDTO.nombreEstadoFacultad">Estado
              <p-sortIcon field="idEstadoFacultadDTO.nombreEstadoFacultad"></p-sortIcon>
            </th>
            <th>Opciones</th>
          </tr>
          <tr>
            <th></th>
            <th>
              <p-columnFilter type="text" field="codigoFacultad"></p-columnFilter>
            </th>

            <th>
              <p-columnFilter type="text" field="nombreFacultad"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="descripcionFacultad"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="resolucionFacultad"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="fechacreaFacultad"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="fechaactFacultad"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="fechacierreFacultad"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="fecharegistroFacultad"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="activoFacultad"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="idCampusDTO.nombreCampus"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="idEstadoFacultadDTO.nombreEstadoFacultad"></p-columnFilter>
            </th>

            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>
              <p-tableCheckbox [value]="item"></p-tableCheckbox>
            </td>
            <td>{{item.codigoFacultad}}</td>
            <td>{{item.nombreFacultad}}</td>
            <td>{{item.descripcionFacultad}}</td>
            <td>
              <span [class]="item.resolucionFacultad ? 'badge badge-success': 'badge badge-warning'">
              {{item.resolucionFacultad ? item.resolucionFacultad : 'Correquisito sin Archivo'}}
              </span>
              <button *ngIf="item.resolucionFacultad" (click)="descargarArchivo(item.resolucionFacultad)"
                      pButton pRipple type="button" icon="pi pi-cloud-download" pTooltip="Descargar"
                      tooltipPosition="top"
                      class="p-button-rounded p-button-text p-button-lg"></button>
            </td>
            <td>{{item.fechacreaFacultad | date : 'short'}}</td>
            <td>{{item.fechaactFacultad | date : 'short'}}</td>
            <td>{{item.fechacierreFacultad | date : 'short'}}</td>
            <td>{{item.fecharegistroFacultad | date : 'short'}}</td>
            <td>{{item.activoFacultad ? 'ACTIVO':'INACTIVO'}}</td>
            <td>{{item.idCampusDTO.nombreCampus}}</td>
            <td>{{item.idEstadoFacultadDTO.nombreEstadoFacultad}}</td>

            <td>
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning p-button-text p-button-sm p-mr-2"
                      (click)="editItem(item)" pTooltip="Editar" tooltipPosition="left"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text p-button-sm"
                      (click)="deleteItem(item)" pTooltip="Eliminar" tooltipPosition="left"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            En Total Existen {{lstFacultad ? lstFacultad.length : 0 }} Facultades.
          </div>
        </ng-template>
      </p-table>
    </div>
  </div>
</section>


<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
